GIGACHAT_CREDENTIALS="your_gigachat_credentials_here"
GIGACHAT_SCOPE="GIGACHAT_API_PERS"
QDRANT_URL="http://qdrant:6333"
QDRANT_API_KEY="your_qdrant_api_key_here"
DATABASE_URL="postgresql://postgres:postgres@db:5432/rag_db"
SECRET_KEY="supersecretkey" 
ALGORITHM="HS256" 
ACCESS_TOKEN_EXPIRE_MINUTES=10080
CHUNK_SIZE=500
CHUNK_OVERLAP=40
VECTOR_SIZE=384
POSTGRES_DB= "rag_db"
POSTGRES_USER= "postgres"
POSTGRES_PASSWORD= "postgres"
QDRANT__SERVICE__GRPC_PORT=6334
QDRANT__SERVICE__HTTP_PORT=6333
ADMINER_DEFAULT_SERVER= "db"
VITE_API_BASE_URL="http://backend:8000"